Inventory Service/inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="sms.schema.inventory"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" 
    xmlns:materials_ns="sms.schema.inventory">
    	<xs:element name="ItemDocument" type="xs:string" ></xs:element>
        <xs:element name="ackCode" type="xs:string" ></xs:element>
        <xs:element name="uniqueItemId" type="xs:int" nillable="false"></xs:element>
        <xs:element name="stockLevelValue" type="xs:int"></xs:element>
</xs:schema>
